/* 顶部导航
---------------------------------------------------------------- */
.nav{
    height: 30px;
    background-color: #f3f3f3;
}
/* 头部搜索
---------------------------------------------------------------- */
.header{
    height: 100px;
    background-color: pink;
}
/* 焦点区域
---------------------------------------------------------------- */
.focus{
    height: 440px;
    background-color: tomato;
}
/* 热销区域
---------------------------------------------------------------- */
.hot{
    height: 300px;
    background-color: blue;
}
/* 楼层
---------------------------------------------------------------- */
.floor{
    height: 600px;
    background-color: yellow;
}
/* 底部
---------------------------------------------------------------- */
.footer{
    height: 252px;
    background-color: black;
}